In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import pickle
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
data = pd.read_pickle('../Data/After_preprocessing.pkl')
data.head()

,verified_reviews,feedback,review_len,variation_0,variation_1,variation_2,variation_3,variation_4
0,love echo,1,13,0,0,0,0,1
1,love,1,9,0,0,0,0,1
2,sometimes play game answer question correctly ...,1,195,0,0,0,1,0
3,lot fun thing 4 yr old learn dinosaurs control...,1,172,0,0,0,0,1
4,music,1,5,0,0,0,0,1

In [3]:
data['feedback'].value_counts()

1    2214
0     221
Name: feedback, dtype: int64

## Prepraring the Data for Feature Extraction

In [4]:
extraction = data['verified_reviews']
data.drop('verified_reviews', axis=1, inplace=True)

## Applyig TF-IDF Vectorizer

In [5]:
tfidf = TfidfVectorizer()
features = tfidf.fit_transform(extraction)
features

<2435x3639 sparse matrix of type '<class 'numpy.float64'>'
	with 29299 stored elements in Compressed Sparse Row format>

In [6]:
data['feedback'].value_counts()

1    2214
0     221
Name: feedback, dtype: int64

In [7]:
data = pd.concat([data, pd.DataFrame(features.toarray())], axis=1)

## Data After Feature Extraction

In [8]:
data.head()

,feedback,review_len,variation_0,variation_1,variation_2,variation_3,variation_4,0,1,2,...,3629,3630,3631,3632,3633,3634,3635,3636,3637,3638
0,1,13,0,0,0,0,1,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,9,0,0,0,0,1,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,195,0,0,0,1,0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,172,0,0,0,0,1,0.0,0.0,0.0,...,0.352405,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,5,0,0,0,0,1,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
data.columns

Index([   'feedback',  'review_len', 'variation_0', 'variation_1',
       'variation_2', 'variation_3', 'variation_4',             0,
                   1,             2,
       ...
                3629,          3630,          3631,          3632,
                3633,          3634,          3635,          3636,
                3637,          3638],
      dtype='object', length=3646)

In [10]:
data.to_pickle('../Data/After_ExtractingFeatures.pkl')